<h1 class="content__title m-bottom">
  Hello <span class="cl-blue">{{ organizer }}</span>!
</h1>

<p class="content__paragraph m-bottom">You have successfully createad {{ title }}!</p>

<p class="content__paragraph"><strong>Date: </strong> {{ date }}</p>
<p class="content__paragraph m-bottom"><strong>End: </strong> {{ event_ending }}</p>

<p class="content__paragraph m-bottom">Participants can subscribe to <strong>{{ title }}</strong> until {{ deadline_subscription }} before the event starts.</p>
<p class="content__paragraph m-bottom">After {{ date }} Participants will be able to create teams until {{ deadline_team_creation }}</p>

<small>
  You can update your event at any time!
</small>
