<strong>Hello, {{ organizer }}</strong>
<p>You have successfully createad {{ title }}!</p>
<p>
  <strong>Date: </strong> {{ date }} <br />
  <strong>End: </strong> {{ event_ending }}
  <br />

  <p>Participants can subscribe to {{ title }} until {{ deadline_subscription }} before the event starts.</p>
  <p>After {{ date }} Participants will be able to create teams until {{ deadline_team_creation }}</p>

  <small>
    You can update your event at any time!
  </small>
</p>
